$def with(category, subcate, problem, procate, solution, username, ojname, users)

$#$code:
$#    category = [[i.CID, i.CName] for i in category]
$#    subcate = [[i.CID, i.CName, i.SubCID, i.SubCName] for i in subcate ]
$#    problem = [[i.OJName, i.PID, i.PUrl, i.UserName, i.ID] for i in problem]
$#    procate = [[i.ID, i.OJName, i.PID, i.PUrl, i.SubCID, i.SubCName, i.UserName] for i in procate]


<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="题目分类">
        <meta name="author" content="zrq495">
        <title>题目分类</title>
        <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../static/css/docs.css" rel="stylesheet">
        <link href="../../static/css/github.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="../../static/favicon.ico">
        <style>
            body{font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;}
            h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;}
            pre code { background: transparent; }
        </style>
    </head>

    <body>
        <a class="sr-only" href="#content">Skip to main content</a>

        <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">题目分类</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                <a href="#" data-toggle="modal" data-target="#addcategorymodal">添加分类</a>
                </li>
                <li>
                <a href="#" data-toggle="modal" data-target="#addsubcategorymodal">添加子分类</a>
                </li>
                <li>
                <a href="#" data-toggle="modal" data-target="#addproblemmodal">添加题目</a>
                </li>
                <li>
                <a href="#" data-toggle="modal" data-target="#addusermodal">添加用户</a>
                </li>
            </ul>
            $#<form class="navbar-form navbar-right form-inline" role="search" id="loginform" name="loginform" action="/">
            $#    <div class="form-group">
            $#        <label class="sr-only" for="username">UserName</label>
            $#        <input type="text" class="form-control" id="username" name="username" placeholder="UserName">
            $#    </div>
            $#    <div class="form-group">
            $#        <label class="sr-only" for="password">Password</label>
            $#        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            $#    </div>
            $#    <button type="submit" class="btn btn-default">登录</button>
            $#</form>
            <ul class="nav navbar-nav navbar-right">
                $#<li><a href="#">cc</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">$username <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#changepasswordmodal">Change Password</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
            </nav>
        </div>
        </header>

        <div class="modal fade" id="addcategorymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form role="form" action="/addcategory" method="POST">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control" id="addcategory" name="addcategory" placeholder="分类名称">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addsubcategorymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form role="form" action="/addsubcategory" method="POST">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <select class="form-control" id="addsubcatecate" name="addsubcatecate">
                                $for cate in category:
                                    <option>$cate.CName</option>
                            </select>
                            <br>
                            <div class="form-group">
                                <input type="text" class="form-control" id="addsubcategory" name="addsubcategory" placeholder="子分类名称">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addproblemmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form role="form" action="/addproblem" method="POST">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <select class="form-control" id="addproblemojname" name="addproblemojname">
                                <option>选择oj，若没有请在下面添加</option>
                                $for oj in ojname:
                                    <option>$oj.OJName</option>
                            </select>
                            <br>
                            <div class="form-group">
                                <input type="text" class="form-control" id="addproblemaddojname" name="addproblemaddojname" placeholder="需要添加的OJ名称">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="addproblempid" name="addproblempid" placeholder="PID">
                            </div>
                            <div class="form-group">
                                <input type="url" class="form-control" id="addproblempurl" name="addproblempurl" placeholder="来源">
                            </div>
                            <div class="form-group">
                                <input type="url" class="form-control" id="addproblemsurl" name="addproblemsurl" placeholder="题解">
                            </div>
                            <select class="form-control" id="addproblemsubc" name="addproblemsubc">
                                <option>未分类</option>
                                $for subc in subcate:
                                    <option>$subc.CName-$subc.SubCName</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="changepasswordmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form role="form" action="/changepassword" method="POST">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="原密码">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="newpassword1" name="newpassword1" placeholder="新密码">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="newpassword2" name="newpassword2" placeholder="重复密码">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addusermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form role="form" action="/adduser" method="POST">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control" id="addusername" name="addusername" placeholder="UserName">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="adduserpassword" name="adduserpassword" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="adduseremail" name="adduseremail" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="adduserpermission" name="adduserpermission" placeholder="user or root ?">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="">
            <div class="container">
                <h2>用户</h2>
                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                    <th>UID</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Permission</th>
                    <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    $for user in users:
                        $if user.Permission == 1:
                            $ permission = "user"
                        $elif user.Permission == 2:
                            $ permission = "root"
                        $else:
                            $ permission = "null"
                        <tr>
                        <td>$user.UID</td>
                        <td>$user.UserName</td>
                        <td>$user.Email</td>
                        <td>$permission</td>
                        <td><a href="#" data-toggle="modal" data-target="#user-$user.UID">Edit</a></td>
                        <dir class="modal fade" id="user-$user.UID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form role="form" action="/edituser" method="POST">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>UserName</label>
                                                <input type="text" class="form-control" id="editusername-$user.UID" name="editusername-$user.UID" value="$user.UserName" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" class="form-control" id="edituserpassword-$user.UID" name="edituserpassword-$user.UID" value="">
                                            </div>
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="text" class="form-control" id="edituseremail-$user.UID" name="edituseremail-$user.UID" value="$user.Email">
                                            </div>
                                            <div class="form-group">
                                                $if user.Permission == 1:
                                                    $ permission = "user"
                                                $elif user.Permission == 2:
                                                    $ permission = "root"
                                                $else:
                                                    $ permission = "null"
                                                <label>Permission</label>
                                                <input type="text" class="form-control" id="edituserpermission-$user.UID" name="edituserpermission-$user.UID" value="$permission">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </dir>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container bs-docs-container">
            <div class="row">

                <div class="col-md-3">
                    <div class="bs-sidebar hidden-print" role="complementary">
                        <ul class="nav bs-sidenav">
                            $for cate in category:
                                <li>
                                <a href="#c$cate.CID">$cate.CName</a>
                                <ul class="nav">
                                $for subc in subcate:
                                    $if cate.CID == subc.CID:
                                        <li><a href="#sc$subc.SubCID">$subc.SubCName</a></li>
                                </ul>
                                </li>
                        </ul>
                     </div>
                 </div>

                 <div class="col-md-9" role="main">
                     $for cate in category:
                         <div class="bs-docs-section">
                         <div class="page-header">
                         <h1 id="c$cate.CID">$cate.CName</h1>
                         </div>
                         $for subc in subcate:
                             $if cate.CID == subc.CID:
                                 <h3 id="sc$subc.SubCID">$subc.SubCName</h3>
                                 <table class="table table-hover table-responsive">
                                 <thead>
                                 <tr>
                                 <th>OJ</th>
                                 <th>PID</th>
                                 <th>Note</th>
                                 <th>AddUser</th>
                                 <th>Edit</th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 $for pc in procate:
                                     $if subc.SubCID == pc.SubCID:
                                         <tr>
                                         <td>$pc.OJName</td>
                                         <td><a href="$pc.PUrl" target="_blank">$pc.PID</a></td>
                                         <td class="dropdown">
                                             <a data-toggle="dropdown" href="#" class="dropdown-toggle">题解<b class="caret"></b></a>
                                             <ul class="dropdown-menu" role="menu" Aria-labelledby="dLabel">
                                                 $for solu in solution:
                                                     $if solu.PID == pc.ID:
                                                         <li><a href="$solu.SUrl" target="_blank">$solu.UserName</a></li>
                                             </ul>
                                         </td>
                                         <td>$pc.UserName</td>
                                         <td><a href="#" data-toggle="modal" data-target="#sp$subc.SubCID-$pc.ID">Edit</a></td>
                                         <dir class="modal fade" id="sp$subc.SubCID-$pc.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                             <div class="modal-dialog">
                                                 <div class="modal-content">
                                                     <form role="form" action="/edit" method="POST">
                                                         <div class="modal-header">
                                                             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                             <h4 class="modal-title">$pc.OJName $pc.PID</h4>
                                                         </div>
                                                         <div class="modal-body">
                                                             <div class="form-group">
                                                                 <label>修改来源</label>
                                                                 <input type="url" class="form-control" id="editsp$subc.SubCID-$pc.ID" name="editsp$subc.SubCID-$pc.ID" value="$pc.PUrl">
                                                             </div>
                                                             <div class="form-group">
                                                                 <label>修改题解</label>
                                                                 $for solu in solution:
                                                                     $if solu.PID == pc.ID:
                                                                         <input type="url" class="form-control" id="editsps$subc.SubCID-$pc.ID-$solu.SID" name="editsps$subc.SubCID-$pc.ID-$solu.SID" value="$solu.SUrl"><br>
                                                             </div>
                                                             <div class="form-group">
                                                                 <label>添加题解</label>
                                                                 <input type="url" class="form-control" id="editaddsurl$subc.SubCID-$pc.ID" name="editaddsurl$subc.SubCID-$pc.ID" value="">
                                                             </div>
                                                             <div class="form-group">
                                                                 <label>修改分类</label>
                                                                 $for pc1 in procate:
                                                                     $if pc1.ID == pc.ID:
                                                                         <input type="text" class="form-control" id="editpp$pc.ID-$pc1.SubCID" name="editpp$pc.ID-$pc1.SubCID" value="$pc1.SubCName"><br>
                                                             </div>
                                                             <div class="form-group">
                                                                 <label>添加分类</label>
                                                                 <input type="text" class="form-control" id="editaddsubc$subc.SubCID-$pc.ID" name="editaddsubc$subc.SubCID-$pc.ID" value="">
                                                             </div>
                                                         </div>
                                                         <div class="modal-footer">
                                                             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                             <button type="submit" class="btn btn-primary">Save changes</button>
                                                         </div>
                                                     </form>
                                                 </div>
                                             </div>
                                         </dir>
                                         </tr>
                                 </tbody>
                                 </table>
                         </div>
                 </div>
            </div>
         </div>

         <footer class="bs-footer" role="contentinfo">
             <div class="container">
                 <p class="text-center">&copy; 2013 <a href="http://www.zrq495.com">zrq495</a> - All Rights Reserved.</p>
             </div>
         </footer>





        <script src="../../static/js/jquery-1.10.2.min.js"></script>
        <script src="../../static/js/bootstrap.js"></script>
        <script src="../../static/js/holder.js"></script>
        <script src="../../static/js/highlight.js"></script>
        <script src="../../static/js/application.js"></script>
    </body>
</html>

